@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  --body-bg-color: #FEE6DC;
  --offer-bg-color: #F6FCE8;
  --offer-shadow-color: #FAD2C1;
  background-color: var(--body-bg-color);
}

.offer {
  background-color: var(--offer-bg-color);
  margin: 1em auto 0.5em auto;
  box-shadow: 2px 2px var(--offer-shadow-color);
}

.offer__description {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/* Smartphones */
@media only screen and (min-width : 320px) and (max-width : 599px) {

  .offer {
    max-height: 276px;
  }

  .offer__picture {
    width: 100%;
    height: 200px;
  }

  .offer__title {
    padding-left: 0.25em;
    width: 300px;
  }

  .offer__price {
    text-align: center;
    font-size: 18px;
    margin-top: 0.5em;
    color: #FF0000;
  }

  .offer__category {
    padding-left: 0.25em;
  }
  
  .offer__date {
    padding-right: 0.25em;
  }

  .extra-details {
    display: flex;
    flex-direction: row;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    justify-content: space-between;
    font-size: 14px;
  }

}
/* Styles */

/* Tablets */
@media only screen and (min-width : 600px) and (max-width : 1199px) {

  .offer {
    max-height: 276px;
    text-align: center;
  }

  .offer__picture {
    width: 80%;
    height: 200px;
    margin-top: 0.5em;
  }

  .offer__title {
    padding-left: 0.25em;
  }

  .offer__price {
    text-align: center;
    font-size: 18px;
    margin-top: 0.25em;
    color: #FF0000;
  }

  .offer__category {
    padding-left: 10%;
  }
  
  .offer__date {
    padding-right: 10%;
  }

  .extra-details {
    display: flex;
    flex-direction: row;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    justify-content: space-between;
    font-size: 14px;
  }
}
/* Styles */

/* Desktops */
@media only screen and (min-width : 1200px) and (max-width : 1800px) {

  .offer {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    width: 80%;
  }

  .offer__picture {
    height: 100%;
  }

  .offer__title {
    padding-left: 10px;
    font-size: 24px;
    margin-bottom: 2em;
    word-wrap: break-word;
  }

  .offer__price {
    padding-left: 10px;
    font-size: 26px;
    color: #FF0000;
  }

  .extra-details {
    padding-left: 10px;
    margin-top: 3em;
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;
  }

  .offer__date {
    font-size: 12px;
    margin-bottom: 1em;
  }

}
/* Styles */