@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  --body-bg-color: #fee6dc;
  --offer-bg-color: #F6FCE8;
  --offer-shadow-color: #FAD2C1;
  background-color: var(--body-bg-color);
  font-family: 'Lato', sans-serif;
}

/* Smartphones */
@media only screen and (min-width : 320px) and (max-width : 1800px) {
  .form {
    width: 90%;
    margin: auto;
  }

  .form__input-block {
    display: flex;
    flex-direction: column;
  }

  .form__label {
    margin-top: 0.5em;
    margin-left: 4,5%;
    font-size: 14px;
    color: #707070
  }

  .form__input {
    margin-top: 0.2em;
    margin-left: 5%;
    color: #707070;
    border: 1px solid #707070;
    border-radius: 25px;
    padding-left: 0.5em;
  }

  .price {
    width: 5em;
    text-align: right;
    padding-right: 0.5em;
  }

  .description {
    padding-left: 1em;
    padding-right: 1em;
  }

  .form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
  }

  .form__button {
    border: 1px solid #707070;
    border-radius: 25px;
    font-weight: bold;
  }

  .form__button--submit {
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 3px 6px #abc32f;
    text-shadow: -1px 0 #707070, 0 1px #707070, 1px 0 #707070, 0 -1px #707070;
    background-color: #b5e550;
  }

  .form__button--cancel {
    font-size: 10px;
    height: 2em;
    background-color: #EB9C9C;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3px 6px #707070;
  }

  .form__error {
    font-size: 10px;
    font-weight: bold;
    color: white;
    background: red;
    margin-left: 2em;
    margin-top: 0.1em;
  }

  .modal__buttons {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .modal__button--cancel {
    font-size: 8px;
    height: 2em;
    background-color: #EB9C9C;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3px 6px #707070;
    border: 1px solid #707070;
    border-radius: 25px;
    font-weight: bold;
  }

  .modal__button--submit {
    font-size: 16px;
    color: #fff;
    box-shadow: 0px 3px 6px #abc32f;
    text-shadow: -1px 0 #707070, 0 1px #707070, 1px 0 #707070, 0 -1px #707070;
    background-color: #b5e550;
    border: 1px solid #707070;
    border-radius: 25px;
    font-weight: bold;
  }

  .modal__content {
    height: 33%;
    width: 50%;
    top: 27.25%;
    left: 18.75%;
    position: absolute;
    padding: 6.25%;
    border: 1px solid #707070;
    background: #fee6dc;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    text-align: center;
    font-size: 12px;
  }

  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
  }

}
/* Styles */

/* Tablets & Desktops */
@media only screen and (min-width : 600px) and (max-width : 1800px) {
  .form {
    width: 50%;
    margin: auto;
  }

  .modal__buttons {
    width: 50%;
    margin: auto;
  }
}
/* Styles */
